.carousel-item img{
    height: 550px;
    object-fit: cover;
}

.carousel-caption h5{
    font-size: 44px;
    font-weight: 400;
}

.carousel-caption p{
    width: 50%;
    margin: auto;
    color: #c0c0c0;
}

.content{
    width: 100%;
    padding: 100px 0;
    background-color: #000;
}

.content_wrapper{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.content_item{
    height: 500px;
    color: #c0c0c0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px;
}

.notebook{
    background: url("image/IMAGE\ \(2\).png") no-repeat center/cover;
}

.building{
    background:  url("image/IMAGE\(3\).png") no-repeat center/cover;
}

.forest{
    background: url("image/IMAGE\ \(4\).png") no-repeat center/cover;
}

.beer{
    background: url("image/IMAGE\ \(5\).png") no-repeat center/cover;
}

.navbar{
    padding: 0 150px;
}






@media screen and (max-width: 990px){
    .content_wrapper{
        grid-template-columns: 1fr;
    }
    .navbar{
        padding: 0 150px;
    }
}

@media screen and (max-width: 600px){
    .content_wrapper{
        width: 94%;
    }
    .content_item{
        height: 400px;
    }
}